body {
	background: url(./paper.jpg);
	text-align: center;
}

table {
 	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
}

.button {
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	margin: 4px 30px 4px 0px;
	cursor: pointer;
	background-color: transparent/*white*/; 
	color: black; 
	border: 2px solid #4CAF50;
	width: 30%;
}

.button:hover {
	background-color: #4CAF50;
  color: white;
}

.button1 {
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	margin: 4px 2px;
	cursor: pointer;
	background-color: transparent/*white*/; 
	color: black; 
	border: 2px solid #EF1515;
	width: 10%;
}

.button1:hover {
	background-color: #EF1515;
  color: white;
}

.txtbox {
	width: 50%;
  padding: 10px;
  margin: 4px 2px;
  border: 2px solid #B1B1B1;
  background: #E0E0E0;
}

.txtbox1 {
	width: 50%;
  padding: 10px;
  margin: 4px 2px;
  border: 2px solid #B1B1B1;
  background: #E0E0E0;
}

#td {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	text-align: center;
}

tbody, .tr1 {
	border-top: 1px solid gray;
}

#td1 {
	text-align: center;
}

#td1 label {
	margin-right: 55px;
	margin-left: 55px; 
}

img {
	width: 80px;
	height: 80px;
}